.abouts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width:480px){
    .abouts{
        display: flex;
    flex-direction: column;
    width: 100%;
    }
}

.abouts img{
    height: 50px;
    width: 50px;
   margin: 10px;
    border-radius: 5px;
}
.testis img{
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 5px;
    
}
.abouts .hist p{
color: brown;
background-color: cadetblue;
border-radius: 10px;
padding: 20px;
margin: 10px;
}
.abouts .hist{
    display: block;
    border-radius: 10px;
    background-color: cornsilk;
    margin: 10px;
}
.abouts .hist:hover{
    transform: translate(3px, 3px);
}
.abouts .exp:hover{
    transform: translate(3px, 3px);
}
.testis .testi1:hover{
    transform: translate(3px, 3px);
}
.testis .testi2:hover{
    transform: translate(3px, 3px);
}

.abouts .hist h2{
    background-color:rgb(107, 61, 47);
    color: goldenrod;
    border-radius: 10px;
}
.abouts .hist em{
   
    border-radius: 10px;
    padding: 20px;
    margin: 20px;             
}

.abouts .exp p{
    color: rgb(238, 132, 12);
    background-color: rgb(95, 160, 111);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    }
    .abouts .exp{
        display: block;
        border-radius: 10px;
        background-color: cornsilk;
        margin: 10px;
    }
    .abouts .exp h2{
        background-color:rgb(192, 54, 12);
        color: goldenrod;
        border-radius: 10px;
    }
    .abouts .exp em{
       
        border-radius: 10px;
        padding: 20px;
        margin: 20px;             
    }
    .testis{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    @media (max-width:480px){
        .testis{
            display: flex;
        flex-direction: column;
        width: 100%;
        }
    }
    .testis .testi1 p{
        color: rgb(245, 194, 194);
        background-color: rgb(160, 121, 95);
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        }
        .testis .testi1 h3{
            background-color:rgb(192, 114, 12);
            color: rgb(161, 57, 16);
            border-radius: 10px;
        }
        .testis .testi1{
            background-color: rgb(214, 228, 191);
            margin: 20px;
            border-radius: 10px;
        }
        .testis .testi1 em{
           
            border-radius: 10px;
            padding: 20px;
            margin: 20px;             
        }
    
        .testis .testi2 p{
            color: rgb(248, 245, 245);
            background-color: rgb(209, 88, 6);
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            }
            .testis .testi2 h3{
                background-color:rgb(192, 114, 12);
                color: rgb(161, 57, 16);
                border-radius: 10px;
            }
            .testis .testi2{
                background-color: rgb(214, 228, 191);
                margin: 20px;
                border-radius: 10px;
            }
            .testis .testi2 em{
               
                border-radius: 10px;
                padding: 20px;
                margin: 20px;             
            }
        

