@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&family=Poppins:ital,wght@0,500;0,600;1,500&family=Raleway:ital,wght@0,300;1,200&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Edu TAS Beginner', cursive;
/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
body{
    box-sizing: border-box;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;

}


.App{
    background: url('');
    /* height: 100vw;  */
    width: 100vw;
    /*  */
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}
footer{
    bottom: 0;
}
.greets{
    color: green;
    font-size: 4px;
    font-style: italic;
}

.animations{
    /* background-image: url('./component/pages/images/pexels-btgl-♡-3894157.jpg'); */
    background: url('./component/pages/images/martin-martz-CQF9_GZT8YE-unsplash.jpg');
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
  
    }
    .image{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
       
        flex-wrap: wrap;
    
    
    }
.image div{
    background: url('./component/pages/images/eugene-golovesov-dFZAFukYwlU-unsplash.jpg');
    border-radius: 10px;
margin: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}
.images{
display: flex;
flex-direction: column;
justify-content: space-evenly;
flex-wrap: wrap;
/*  */
/* font-family: 'Raleway', sans-serif; */

}
.images div{
    background: url('./component/pages/images/martin-martz-Cr9vEA2eHhU-unsplash.jpg');
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    padding: 20px;
    /* font-family: 'Raleway', sans-serif; */

}
.images em{
    font-family: 'Edu TAS Beginner', cursive;
}

.thanks{
    border-radius: 10px;
    
    animation-name: thank;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 20s;
}
@keyframes thank{
    0%{
        color: red;
        

    }
    25%{
        color: blue;
    }
    50%{
        color: green;

    }
    100%{
        color: orange;
        
    }
}

/* @media (max-width:480px){
    .whatsapp{
        position: fixed;
        bottom: 0;
        right: 0;
        height: 50px;
    }
} */
/* .whatsapp box-icon{
    border-radius: 20px;
    background-color: green;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    
} */
.likes{
    height: 50px;
    text-align: center;
}
.likes box-icon{
    margin: 0px;
}
.likes button{
    border: none;
    margin: 10px;

}
.likes button:focus{
    outline: none;
}
.website{
    background: url('./images/pngegg (45).png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.back{
    background-color: #800020;
   
}
.website input{
color: blue;
cursor: pointer;
}
.website input:focus{
outline: none;
}
.quotescontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    align-items: center;
    text-align: center;
}

.quotes{
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    display: block;
    justify-content: space-evenly;
    
}

.quotes small{
    color: red;
}
.quotes b{
    color: chocolate;
}
.animates{
    color:red;
     text-align:center;
     height:50px;
     background:url('./component/pages/images/martin-martz-Cr9vEA2eHhU-unsplash.jpg');
}
@media  (max-width:480px) {
    .quotes{
        
    }
    .quotescontainer box-icon{
        width: 50px;
        height: 50px;
    }
    .animates{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color:red;
         text-align:center;
         background-color: #F5F5DC;
         margin: 5px;
         border-radius: 0px;
         height:100px
    }
    
}
.top{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.form
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color: orchid;
    font-family: 'Edu TAS Beginner', cursive;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    background: url('./component/pages/images/martin-martz-CQF9_GZT8YE-unsplash.jpg');
}
.check{
    background: url('./component/pages/images/martin-martz-Cr9vEA2eHhU-unsplash.jpg');
    color: orange;
    padding: 5px;
    margin: 0px;
    border-radius: 10px;
}
.contact{
    background: url('./component/pages/images/martin-martz-Cr9vEA2eHhU-unsplash.jpg');
}
.success{
    background: url('./component/pages/images/martin-martz-Cr9vEA2eHhU-unsplash.jpg');
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: orange;
}
.footer{
   
}
.cv{
    padding: 20px;
    border-radius: 50px;
    border: none;
color: #800020;
margin: 50px;
}
.cv :active{
    background-color: cadetblue;
    outline: none;
}
.cv :hover{
    background-color: red;
    color: white;
    letter-spacing: 5px;
}
.texts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}
.texts box-icon{
    background-color: white;
    border-radius: 50%;
    margin: 20px;
    height: 50px;
}