

.data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    background: url('./component/pages/images/eugene-golovesov-dFZAFukYwlU-unsplash.jpg');
    color: white;
    width: 50%;
    margin: 25%;
    flex-wrap: wrap;
}
.data div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.data input{
    border: none;
    border-radius: 10px;
    background-color: azure;
    width: 80%;
    
}
.data input:focus{
    outline: none;
    width: 100%;
    border-bottom: solid orange;
}
.data button{
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
}
.data button:focus{
    outline: none;
    background-color: red;
    color: white;
}

